// Font stacks (add your own!)
lato = 'Lato', helvetica-neue
helvetica-neue = "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif

// Default font settings
font-stack = lato
font-size = 18
font-color = blue3
font-weight = fontLight
link-color = grey2

// font weights
fontLight = 300
fontRegular = 400

border-color = grey2

// Colors
blue1 = #E6F4FD
blue2 = #C4D6E1
blue3 = #3E3F4F

grey1 = #DFDFDF
grey2 =  #90909A

orange = #F0AE75
yellow = #F1D888
red = #D96668
green = #A1E7B0
