.t-work {
    main {
        animation: none;
    }
    main ul {
        margin: 2em 0;

        @media(min-width: 35em) {

            margin: 3em 0;
        }

        &::after {
            content: '';
            display: block;
            clear: both;
        }
    }
}
