[class*="u-align"],
[class*="u-justify"],
[class*="u-row"],
[class*="u-col"] {
    display: flex;
}

.u-align-center {
    align-items: center;
}

.u-justify-center {
    justify-content: center;
}

.u-row-reverse {
    flex-direction: row-reverse;
}

.u-col-2 {
    > div {
    	width: 50%;
    	padding: 10px;
    }

    > div:first-child {
    	margin-right: 20px;
    }

    &.c--small-left {
        > div:first-child {
            width: 70%;
        }

        > div:nth-child(2) {
            width: 30%;
        }
    }
}
