[class*="u-align"],
[class*="u-justify"],
[class*="u-row"] {
    display: flex;
}

.u-align-center {
    align-items: center;
}

.u-justify-center {
    justify-content: center;
}

.u-row-reverse {
    flex-direction: row-reverse;
}
