.u-container {
    padding: 0 $padding-side;
    margin: 0 auto;
    max-width: $max-width;

    @media (min-width: $max-width-wide) {
        max-width: $max-width-wide;
    }
}

.u-margin-1 {
    margin: 1rem 0;
}

.u-fill {
    width: 100%;
}
