:root {
  --font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --text-default: #565656;
  --text-light: #817E7E;
  --base: white;
  --highlight: #FFF7E5;
  --link-color: #0099FF;

  --border-radius-large: 12px;
  --border-radius-default: 6px;

  --shadow-one: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);

  --break-two-column: 600px;
  --page-padding: 4vh;
}

@media (prefers-color-scheme: dark) {
  :root {
      --text-default: white;
      --text-light: #C4C4C4;
      --base: #262626;
      --highlight: #E5D9BD;

      --shadow-one: 0px 2px 8px 0px rgba(0, 0, 0, .5);
  }
}

@media (prefers-color-scheme: dark) and (min-width: 600px) {
  :root {
    --shadow-one: 0px 2px 12px 0px rgba(0, 0, 0, 0.75);
  }
}

@media (min-width: 600px) {
  :root {
    --shadow-one: 0px 2px 12px 0px rgba(0, 0, 0, 0.25);
  }
}

@media (max-height: 400px) {
  :root {
      --page-padding: 8vh;
  }
}

/* ---------- component: globals ----------- */
body {
  font-family: var(--font-stack);
  color: var(--text-default);
  background-color: var(--base);

  margin: 0 auto;
  width: 90%;
  max-width: 720px;
  overflow: hidden;
  font-size: 16px;
}

p {
  line-height: 1.325;
  margin: 0;
}

p + p {
  margin: .75rem 0;
}

a, a:visited {
  color: var(--link-color);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* ---------- component: container ----------- */
.container {
  padding: var(--page-padding) 0;
  overflow-y: scroll;
  overflow-x: visible;
}

@media (min-width: 600px) {
  .container {
    padding: 0;
    overflow-y: initial;
  }

  .container > div {
    padding: var(--page-padding) 0;
  }

  .container > div {
    padding-left: .75rem;
    padding-right: .75rem;
    margin: 0 -.5rem;
  }

  .container {
    display: grid;
    height: 100vh;
    grid-template-columns: 2fr 5fr;
    grid-column-gap: 2rem;
    max-width: 720px;
    margin: 0 auto;
  }

  .container > div {
    overflow-y: scroll;
  }
}
@media (min-width: 800px) {
  .container {
    grid-column-gap: 3rem;
  }
}

/* ---------- component: bio ----------- */
.bio h1 {
  margin-top: 0;
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.bio {
  margin-bottom: 1.5rem;
}

.bio h1 span:first-child {
  font-size: 1.25rem;
  font-weight: bold;
  display: block;
  color: var(--text-light);
  margin-bottom: 0;
}

@media (min-width: 600px) {
  .bio h1 {
    font-size: 2rem;
    margin-bottom: 1.25rem;
  }
}

@media (min-width: 860px) {
  .bio h1 {
    font-size: 3rem;
  }
}

/* ---------- component: profilePhoto ----------- */

.profilePhoto {
  width: 30%;
  max-width: 100%;
  border-radius: var(--border-radius-large);
  box-shadow: var(--shadow-one);
  margin-bottom: 1rem;
}

@media (min-width: 600px) {
  .profilePhoto {
    width: 100%;
    margin-bottom: initial;
  }
}

/* ---------- component: socialsLink ----------- */

a.socialsLink {
  position: relative;
  display: flex;
  align-items: center;
  height: 3rem;
  width: 100%;
  padding: 0 .5rem 0 3rem;
  margin: 0 -.5rem;
  transition: .15s ease background-color;
  border-radius: var(--border-radius-default);
  font-size: .875rem;
  max-width: 20rem;
  color: var(--text-default);
  text-decoration: none;
}

.socialsLink img {
  width: 1.75rem;
  position: absolute;
  left: .5rem;
  top: 50%;
  transform: translateY(-50%);
}

.socialsLink:hover {
  background-color: var(--highlight);
  text-decoration: none;
}

.socialsLink:focus-visible {
  outline: 2px solid var(--link-color);
  outline-offset: 2px;
  background-color: var(--highlight);
}

.socialsLink_githubLogo,
.socialsLink_xLogo {
  display: none;
}

.socialsLink_githubLogo.-dark,
.socialsLink_xLogo.-dark {
  display: initial;
}

@media (prefers-color-scheme: dark) {
  a.socialsLink:hover {
    color: var(--base);
  }

  .socialsLink:not(:hover) .socialsLink_githubLogo.-dark,
  .socialsLink:not(:hover) .socialsLink_xLogo.-dark {
    display: none;
  }

  .socialsLink:not(:hover) .socialsLink_githubLogo.-white,
  .socialsLink:not(:hover) .socialsLink_xLogo.-white {
    display: initial;
  }
}
