// Node Modules
@import "../../node_modules/jeet/stylus/jeet/index.styl";
@import "../../node_modules/rupture/rupture/index.styl";

// Resets
@import 'normalize'
@import 'normalize-opentype'

// Custom Styles
@import 'mixins/*'
@import 'pages/*'
@import 'modules/*'

normalize-css()
base()
reset-headers()

::selection
    background: green

body
    max-width: 800px
    padding: 0 1.111111111rem
    margin: 0 auto

a
    color: link-color
    text-decoration: none
    position: relative

p:first-child
    margin-top: 0

strong
    font-weight: fontRegular

ul
    reset-list()

// Modifier Classes

.current
    color: font-color
    font-weight: fontRegular

.is-left,
.is-right
    +above(headerBreak)
        float: left
        width: 50%
        group()


.is-underlined-bold
    text-decoration: none
    position: relative
    &:after
        transition()
        content: ''
        display: block
        background: red
        height: 1px
        width: 100%
        position: absolute
        left: 0
        bottom: 1px
        opacity: 0
    &:hover
        &:after
            transform: translateY(2px)
            opacity: 1

.is-underlined
    transition()
    &:hover
        color: red
        &::after
            transform: scaleY(0.5)
            box-shadow: 0 1px 0 0 red;

    &::after
        transition()
        content: ""
        width: 100%
        height: 1px
        opacity: 1
        border-bottom: 1px link-color solid
        position: absolute
        bottom: -1px
        left: 0
        transform: scaleY(0.5)
