@import 'normalize'
@import 'normalize-opentype'
@import 'rupture'
@import 'axis/*'

body
    font-family: 'DIN-Light'
    font-size: 16px
    text-align: center
    padding: 50px 20px 0
    color: #444
    margin: 0
    background: tomato
    +above(900px)
        background: cornsilk

h1
    font-family: 'DIN Alternate'
    font-size: 36px
    line-height: 1.2em
    padding: 20px 0


h3
    font-weight: 300
