.c-hero {

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 3*$unit;
    padding-top: 2*$unit;
    height: 8em;

    img {

        width: 100%;
    }

    @media (min-width: 35em) {

        height: 13em;
    }
}

.c-hero.c--image {

    background: url(../images/about/hero-small.jpg) center center;
    background-size: cover;

    @media (min-width: 30em) {

        background: url(../images/about/hero-medium.jpg) center center;
        background-size: cover;
    }

    @media (min-width: 40em) {

        background: url(../images/about/hero-large.jpg) center center;
        background-size: cover;
    }
}

// Modifiers for colour
//
.c-hero.c--green {
    background: $green;
}
.c-hero.c--purple {
    background: $purple;
}
.c-hero.c--blue {
    background: $blue;
}
.c-hero.c--orange {
    background: $orange;
}
.c-hero.c--red {
    background: $red;
}
.c-hero.c--grey {
    background: $grey;
}
