extends ../includes/_layout

block content
    if current.source != "index"
        include ../partials/_hero
        include ../partials/_intro
    div(class="c-container #{ current.source === 'index' ? 'c--wide' : 't-work' }")
        != yield

append styles
    link(href='//cdn.mobify.com/modules/scooch/0.3.3/scooch.min.css' rel='stylesheet' type='text/css')
        
append scripts
    include ../includes/_scooch

prepend footer
    include ../partials/_paginator

append footer
    if hasGallery == "true"
        include ../partials/_photoswipe.html
