//
// About Page Styles
//

headerBreak = 27.5rem

.about
    margin-top: 2.222222222rem
    group()
    margin-bottom: 3rem

    .is-left
        padding-left: 25%
        img
            width: 6rem

    .is-right
        padding-left: .555555556rem

    +below(headerBreak)
        margin-top: 1.111111111rem
        padding-top: 1.111111111rem
        border-top()

        .profile-picture
            margin-bottom: 1.111111111rem

        .is-left,
        .is-right
            padding: 0
