//
// Project Page Styling
//
.project
    margin-top: 2.222222222rem
    group()

    header
        padding-left: 25%

    h2, h3
        font-weight: fontRegular

    .projectName
        margin-bottom: .555555556rem

    .contHeader
        position: relative
        h3
            position: absolute
            top: 0
            left: -50%
            max-width: 9rem

    ul li
        font-size: .888888889rem
        list-style: square inside none
        color: grey2

    .is-underlined-bold
        color: font-color
        font-weight: fontRegular
