div.is-left
    img(src='/img/me.png' class="profile-picture" title='Nice to meet you.' alt='A handsome picture of me.')

div.is-right    
    p Hi, I’m Zach. I’m a designer with a focus on digital interaction design. I dabble in both web and iOS, furthering my passion for clean, and considered solutions. I’m currently making things with the Product Team at <a href="http://www.mobify.com" class="is-underlined-bold" target="_blank">Mobify</a> here in Vancouver, but I’m always up for a chat, particularly over a coffee/beer.
    p I enjoy design, programming, music,  and complaining about things. Here’s where I usually go to do stuff like that:
    ul
        li: a(href='http://www.twitter.com/#{author.twitter}' class='is-underlined-bold') twitter
        li: a(href='http://www.github.com/#{author.github}' class='is-underlined-bold') github
        li: a(href='http://www.rdio.com/people/#{author.rdio}' class='is-underlined-bold') rdio
