extends ./_layouts/base

block prepend content
    +hero(null, 'about')

block content
    .u-container
        section
            header: h1 About Me
            p 👋 Hello, I’m a designer who’s focussed on digital interaction and product design. I’ve worked on both web and native applications, and relish an opportunity to see a product through from research to implementation. I'm currently making things with the product team at <a class="c-link" href="http://www.mobify.com" target="_blank">Mobify</a>.
            
        section
            header: h2 Contact
            p I’m interested in partnerships for side projects. Feel free to me drop a line.
            
        section
            h2: a(class="c-link" href='mailto:#{author.email}') Email Me!
