extends ./_layouts/base

block content
    section.u-container
        header: h2 About Me
        p 👋 Hello, I’m a designer who’s focussed on digital interaction, and product design. I’ve worked on both web and native applications, and relish an opportunity to see a product through from research to implementation. I'm currently making things with the product team at Mobify.
        
    section.u-container
        header: h2 Contact
        p I’m interested in partnerships for side projects. Feel free to me drop a line.
        a(href='mailto:#{author.email}') Email Me!
