extends ./_layouts/home

block prepend content
    header.c-intro
        .c-intro-text
                    
block content
    hr
    section.u-container.u-margin-top-2
        header
            h2#work Here are some things I’ve worked on.
            ul.c-grid-list
                li.c-grid-list__item: a(href="work/mobify-cloud") Mobify Cloud
                li.c-grid-list__item: a(href="work/ritchie-brothers") Ritchie Brothers
                li.c-grid-list__item: a(href="/") Frequency
    hr
    section.u-container.u-margin-top-2
        h2 Wanna learn more? Visit my <a class="c-link" href="/about">about</a> page.
