extends ./_layouts/home

block prepend content
    header.c-intro
        .c-intro-text
                    
block content
    section.u-container
        header
            h2 Here are some things I’ve worked on.
            ul
                li: a(href="/") Mobify Cloud
                li: a(href="work/ritchie-brothers") Ritchie Brothers
                li: a(href="/") Sundown
                li: a(href="/") Frequency
    section.u-container
        h2 Wanna learn more? Visit my <a class="c-link" href="/about">about</a> page.
