@import 'assets/styles/components/topBar';

$font-stack: "'San Francisco Display', 'Helvetica Neue', 'Lucida Grande'";

@mixin zero-margins() {
    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

html {
    font-family: sans-serif;
    font-size: 100%;
}

body {
    font-family: -apple-system, #{$font-stack};
    text-align: center;
    background: #f4f4f7;
    color: #444;
    margin: 0;
}

main {
    padding: 50px 20px 0;
    margin: 0 auto;
    max-width: 40em;
}

ul {
    list-style-type: none;
    @include zero-margins();
}

p {
    font-family: -apple-system-body, #{$font-stack};
}

h1{
    font-family: -apple-system-headline1, #{$font-stack};
    font-size: 2.5rem;
    line-height: 1.2em;
    padding: 20px 0;
}

h2 {
    font-family: -apple-system-headline2, #{$font-stack};
}

img {
    max-width: 100%;
}
