extends ../includes/_layout

block content
    .c-container
        if current.source != "index"
            include ../partials/_intro
        != yield

prepend footer
    include ../partials/_paginator

append footer
    if hasGallery == "true"
        include ../partials/_photoswipe.html
