extends ../includes/_layout

block content
    if current.source != "index"
        include ../partials/_hero
        include ../partials/_intro
    div(class="c-container #{ current.source === 'index' ? 'c--wide' : '' }")
        != yield



prepend footer
    include ../partials/_paginator

append footer
    if hasGallery == "true"
        include ../partials/_photoswipe.html
