extends ../_layouts/work

block prepend content
    +hero('hero.png', 'connection-center', 'mobile')
    
block content
    .u-container
            header: h1 Connection Center
            
            p The Connection Center is a responsive web application built to enable targetted marketing for e-commerce retailers using Mobify’s platform with web or native apps.
            p My work on this project ranged from strategy work, and low fidelity UX design, to prototyping, and front-end implementation. I was involved in the initial concept work, and helped develop the React prototype we used to prove out the business case.

            //- **[App Push Editor Mocks]**
            //- **[App Push Component Editor Mocks]**
            //- **[App Push Mobile Editor Mocks]**

            p As the Connection Center is a single page app, transitions are something we focussed on to give the UI a polished, solid feel. Establishing trust with our users was key if they were to commit their customer communications with us.

            //- [Framer Prototype Thumbnail of page load]
            //- [Framer Prototype Thumbnail of component editor transitions]
            //- **Framer prototype on click, but there should be a video that runs on hover.**

            p As this project matures, we’ve looked at refining the colour palette to be more flexible. Reducing the aesthetic use of colour, and focussing on establishing heirarchy through spacing and typography. Here’s one of the concepts I’m working with:

            //- [White Connection Center Framer Thumbnail]
