extends ../_layouts/work

block prepend content
    +hero('hero.png', 'frequency')
    
block content
    .u-container
        section
            header: h1 Frequency
            p This side project, an aviation information and planning application for iOS, has given me the chance to learn about programming in Swift for iOS, how to effectively plan for different product releases, and helped me understand the crazy world of flight planning.  
            p This idea came from a request from my partner, who’s in the aviation industry, to create a spreadsheet with a list of airport frequencies for reference during their flight the next day. After looking through the regular process for this, and some of the alternatives already in the app store, I decided there must be a better way.
            
            p This app downloads a complete database of airport information from around the world and displays it to the user based on their location. They can view the nearest airport, favourite them for in-flight reference, and search for new ones they might need.
            p For the visual design of this app, I tried to stick as closely as possible to iOS defaults. This is my first time doing all the development for an app and wanted to be able to focus on functionality and product design. 
            
            .u-col-2.u-margin-1
                div: img.u-fill.u-shadow-1(src="../assets/images/work/#{current.source}/my-airports.png")
                div: img.u-fill.u-shadow-1(src="../assets/images/work/#{current.source}/search.png")
            
            p One of the features Im building is UI theming. Using electronics in the cockpit at nighttime is often difficult. The white, blue light from most UI is distracting and hard on your eyes while in a low light environment. Including a dark UI was essential if this app is going to be useful at night.
                        
            .u-col-2.u-margin-1
                div: img.u-fill.u-shadow-1(src="../assets/images/work/#{current.source}/more-dark.png")
                div: img.u-fill.u-shadow-1(src="../assets/images/work/#{current.source}/information-dark.png")
                                    
            p The timeline Im looking for is to get a first version in the app store this fall. Hit me up if you know any pilots that would be up for a beta test!
