extends ../_layouts/work

block prepend content
    +hero('cloud-desktop.png', 'mobify-cloud')
    
block content
    section
        header: h1 Frequency
        p This is where I'll talk about my frequency app.
