//- What does this page need to say again?
//- Its a listing of my work. And it should also sort of guide the user through things.

block content
    ul
        each project, slug in public.work._data
            unless project.isPublic == "false"
                li
                    a(href='/work/#{ slug }')
                        div
                            strong= project.title
                            img(src='/images/#{ project.slug }/teaser.jpg')
                            p= project.teaser
