:markdown
    Mobify Cloud is a responsive web application translated into multiple languages, and used across several countries. It’s the primary customer portal for Mobify customers with many functions. It serves as a development team management interface, as well as a production testing and deployment platform for mobile experiences. I've worked on a multitude of features and improvements, ranging from conducting user research to high-level product direction, UI design and front-end implementation.

    ## Understanding Our Users

    Mobify makes software that gives web development teams the ability to adapt desktop websites for mobile devices, enhancing user experience and performance. In addition to an amazing team of in-house designers and engineers doing implementations for customer websites, we also have partner organizations that do web implementations using our software.

    I often led user research activities for Mobify Cloud. I conducted interviews, crafted surveys, and organized inbound feedback, for both our internal team as well as external delivery partners. We often found a wide array of skill sets and workflows among the users and teams that used Mobify’s software to deliver for customers.

    ![](../assets/images/work/mobify-cloud/problems-spreadsheet.png)

    Keeping this information organized and indexed was key to making better product decisions. I distilled data from interviews and surveys into personas for use in product design decision-making, and I also created a database for quickly searching through inbound feedback from users, using a <a class=“c-link” href=“http://alistapart.com/article/connected-ux”>shared Evernote notebook</a> linked to our main feedback email address.

    ![](../assets/images/work/mobify-cloud/personas.png)

    ## User Interface

    My responsibilities for Mobify Cloud extended from research into  the UI and it’s implementation. Early on in my work on Cloud I participated in a major colour palette refresh, updating our UI to match a new branding direction for the company. This involved tweaking the colour palette used in our CSS and redefining how we had been using colour to establish visual hierarchy on the page. I built out a set of Sketch files to match our UI components and was able to iterate quickly towards a design that could scale across the application.

    ![](../assets/images/work/mobify-cloud/sketch-components.png)

    This system of keeping a 1-1 mapping from web UI to Sketch files has proved useful in helping us quickly mock up new potential screens for the application and test different visual treatments.

.m-scooch__wrapper
    .m-scooch.m-scooch-photos.m-fluid.m--narrow
        .m-scooch-inner
            .m-item: img(src="../assets/images/work/mobify-cloud/carousel-orgs.png")
            .m-item: img(src="../assets/images/work/mobify-cloud/carousel-publishing.png")
            .m-item: img(src="../assets/images/work/mobify-cloud/carousel-projects.png")
            .m-item: img(src="../assets/images/work/mobify-cloud/carousel-docs.png")
        .m-scooch-controls
            a(href="" data-m-slide="prev"): img(src="../assets/vectors/arrow-prev.svg")
            a(href="" data-m-slide="next"): img(src="../assets/vectors/arrow-next.svg")

:markdown
    ## What Did I Learn?

    Working on a larger-scale web application was a challenging, and educational experience. I learned about the importance of balancing time spent on new features with maintenance and management of technical debt. Being the person that both designs and implements parts of the front-end, there were also many lessons around how to plan for blue sky, while keeping the focus on an MVP.
