extends ../_layouts/base

block prepend content
    header
        blink this is where the image goes

block content
    section.u-container
        header
            h1 Ritchie Bros. Auctioneers
        p Ritchie Bros. is a large-scale, industrial auctioneer with 110 locations in 25 countries and 44 auction sites worldwide. My team and I were tasked with creating  native apps to compliment their online auction services. Giving users the ability to browse equipment, and participate in live auctions from their mobile devices. My role on the team was to create a structure for the app, and design the UI. We worked with their existing auction software to implement a custom in-auction bidding experience.
        p To start the project, we began working with some existing persona work they had done and built out experience maps to understand how our service would have to work with their existing web implementation. From this early experience mapping, we landed on an app structure.
        p The UI design process began in lower fidelity with wireframes. We started here in order to more quickly come to consensus with the client and align expectations before we moved into higher fidelity implementations. We also prototyped throughout the process with Invision, and later in Framer to communicate interactions with the client, and developers on the team.
        p We strived for a component-based approach on the project, resulting in a robust component library we were able to keep updated and iterating on throughout the project. This library enabled clearer communication, and ultimately a more concise design system for the app.
        p You can find the app on the app store. Feel free to check it out - maybe buy an excavator. Or who knows, maybe twenty.
        a(href="") Download on the app store
