mixin hero(image, page)
    header(class="c-hero c--#{page}")
        if image
            figure.c-hero__image.u-justify-center
                img.a-fade-scale(src="../assets/images/work/#{page}/intro.png")
