nav.c-nav__wrapper
    .c-nav.u-container
        each page, slug in public._data
            a.c-nav__item.u-align-center.u-justify-center(href='/#{ slug }' class='#{ current.path[0] == page.title.toLowerCase() ? "u-bold" : "" }')= page.title
