// Variables
// ===

// Colors
// ---

// Accents
$green: #A3EBAF;
$red: #ED9999;
$blue: #B9D9FE;
$grey: #8F8F95;
$purple: #C9C0DE;
$orange: #FFB995;

// Text
$font-color: #4D4D4D;
$font-color-light: #868686;

// Actions
$link-color: $font-color;


// Spacing
// ---

$unit: 10px;
$max-width: 40em;
$max-width-wide: 55em;


// Typography
// ---

$font-family: -apple-system, 'Helvetica Neue', 'Lucida Grande';
$font-size: 16px;
