ul
    li: a(href='mailto:#{author.email}' class='is-underlined') #{author.email}
    li This website was lovingly built with <a href="http://harpjs.com" class='is-underlined' target="_blank">harpjs</a>.
    li © 2014 Zachary Halvorson
