head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width initial-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='chrome=1')
    meta(name='author' content='#{ author.name }')
    meta(name='description' content='#{ description }')
        
    title= siteTitle
    
    link(href='/img/favicon.ico' rel='shortcut icon')
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css')
    link(href='//cdn.mobify.com/modules/scooch/0.3.3/scooch.min.css' rel='stylesheet' type='text/css')
    link(src="//normalize-css.googlecode.com/svn/trunk/normalize.css" rel="stylesheet" type='text/css')
    link(href='/css/main.css' rel='stylesheet' type='text/css')
      
