p Hi, I’m Zachary Halvorson, I’m a designer with a focus on digital interaction design. I dabble in both web and iOS, furthering my passion for clean, and considered solutions. I’m currently making things with the Product Team at Mobify but I’m always up for a chat, particularly over a coffee/beer.
