svg(width="40" height="40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns")
    g(id="logo" sketch:type="MSLayerGroup" fill="#F0AE75")
        path( d="M0,11 L2.22044605e-16,17 L27,17 L27,6 L22,6 L22,11 L0,11 Z" id="bottom" sketch:type="MSShapeGroup")
        rect( x="5" y="6" width="17" height="5" id="middle" sketch:type="MSShapeGroup")
        path( d="M0,0 L27,0 L27,6 L5,6 L5,11 L0,11 L0,0 Z" id="top" sketch:type="MSShapeGroup") 
