.project-nav
    border-bottom()
    padding: 1.111111111rem 0
    min-width: 100%
    group()

    .next,
    .prev
        p
            margin: .555555556rem 0
            &:first-child
                margin-top: 0
                font-weight: fontRegular
                color: font-color
            &:last-child
                margin-bottom: 0

    .next
        float: right
        text-align: right

    .prev
        float: left
