doctype html
html(lang='en')

    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width initial-scale=1.0, minimum-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='chrome=1')
        meta(name='author' content='Zachary Halvorson')
        meta(name='description' content='Zachary Halvorson\'s Resume')
        title Zachary Halvorson's Resume
        link(rel="stylesheet" href="/assets/stylesheet.css")
        link(rel="shortcut icon" href="/assets/favicon.png")
            
    body
        main
            section.intro
                header: h1 Zachary <br/> Halvorson
                ul
                    li: a(href="tel:+17786280226") +1 778 628 0226
                    li: a(href="mailto:zacharyhalvorson@me.com") zacharyhalvorson@me.com
                    li: a(href="http://zacharyhalvorson.com") zacharyhalvorson.com

            section
                header: h2 Experience
                ul
                    li
                        .with-descriptor
                            h3 Mobify
                            ul
                                li Product Designer
                                li February 2014 - Current

                        p Mobify is a Vancouver-based SaaS company with a platform focused on mobile customer engagement across web and native apps. The platform is currently being used to power some of the web’s most active mobile eCommerce experiences such as Pure Formulas, Think Geek, Garmin, Bose and more.
                        p I started at Mobify as a co-op, and have since filled several positions. My work there has included:
                        ul
                            li Product design for a mobile project testing and release console. The work extended from interaction design, and prototyping, to front-end development.
                            li Product design for a customer engagement platform that included location-based marketing, and behaviour-driven web and app push notification delivery.
                            li iOS and Android app design for our hybrid app development framework, as well as several client builds.
                            li Building relationships with the partner developer network, customers, and in-house development teams. Facilitating user testing, interviews, and gathering feedback on our platform.

            section
                header: h2 Community Involvement
                ul
                    li
                        .with-descriptor
                            h3: a(href="http://www.styleandclass.ca") Style &amp; Class
                            ul
                                li Volunteer
                                li Vancouver, 2013-current

                        p I aide the organizers of this meetup centred around the intersection of design and front-end development.

                    li
                        .with-descriptor
                            h3 Adobe Phonegap Day
                            ul
                                li Workshop Facilitator
                                li San Francisco, 2014

                        p I helped conduct a workshop that dealt with what developers can do to improve the feel of their apps. Design changes that can have a perceived effect on the performance of an application.


            section
                header: h2 Education
                
                ul
                    li.with-descriptor
                        h3 Capilano University
                        ul
                            li Interactive Design Diploma
                            li 2012 - 2014

                    li.with-descriptor
                        h3 University of Alberta
                        ul
                            li Bachelor of Education
                            li 2006 - 2011

            section
                header: h2 References
                ul
                    li.with-descriptor
                        h3 Dave Shea
                        ul
                            li Web Designer
                            li: a(href="mailto:dave@mezzoblue.com") dave@mezzoblue.com
                    li.with-descriptor
                        h3 James Bryant
                        ul
                            li Senior product designer at Atlassian
                            li: a(href="mailto:mail@jamesbryant.com.au") mail@jamesbryant.com.au
                    li.with-descriptor
                        h3 James Bull
                        ul
                            li Product design lead at Shopify
                            li: a(href="mailto:j.bull@me.com") j.bull@me.com
