//- What does this page need to say again?
//- It's the blog post listing page.

block content
    ul
        each post, slug in public.blog._data
            li
                a(href='/blog/#{ slug }')
                    div
                        strong= post.title
                        p= post.description
