.c-blog-post {
    margin-bottom: 4*$unit;
    list-style-type: none;
    padding: $unit;
    position: relative;
}

.c-blog-post__date {

    text-transform: uppercase;
    font-size: .75rem;
    color: $font-color-light;
    letter-spacing: 1px;
    display: block;
}

.c-blog-post__title {

    margin: .5rem 0;
}

.c-blog-post__description {

    margin-top: .5*$unit;
}
