.c-blog-post {
    margin-bottom: 4*$unit;
    list-style-type: none;
}

.c-blog-post__date {

    text-transform: uppercase;
    font-size: .75rem;
    color: $font-color-light;
    letter-spacing: 1px;
}

.c-blog-post__description {

    margin-top: .5*$unit;
}
