.c-grid-list {
    @include zero-margins();
    list-style-type: none;

    padding: 3rem 0 4rem 0;

    @media (min-width: $grid-break) {

        display: flex;
        flex-wrap: wrap;

        margin-left: -$grid-spacing;
        margin-top: -$grid-spacing;
    }
}
