.c-hero {
    overflow: hidden;
    height: 60vh;

    @media (min-width: 35rem) {
        overflow: visible;
        margin-bottom: 11rem;
    }

    &::before {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        filter: blur(4px);
        opacity: .6;
        content: '';
        height: 60vh;
        width: 100%;
        display: block;
        position: absolute;
        z-index: -1;
        overflow: hidden;
    }

    &.c--ritchie-brothers::before {
        background-image: url(/assets/images/work/ritchie-brothers/hero.jpg);
    }

    &.c--mobify-cloud::before {
        background-image: url(/assets/images/work/mobify-cloud/hero.jpg);
    }

    &.c--about {
        margin-bottom: 0;
        &::before {
            filter: none;
            opacity: 1;
            background-image: url(/assets/images/about/hero.jpg);
        }
    }
}


.c-hero__image {
    position: relative;
    bottom: -5rem;
    margin: 0;

    @media (min-width: 35rem) {
        bottom: -10rem;
    }

    @media (min-width: 85rem) {
        bottom: -22rem;
    }
}
