.c-nav {

    padding: 3*$unit 0 0;

    @media (min-width: 25em) {
        padding: 3*$unit 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.c-nav__title {
    display: block;
    font-size: 1.4rem; /* =24px */
    margin-bottom: 1.5*$unit;

    @media (min-width: 25em) {

        margin-bottom: 0;
    }
}

.c-nav__menu {

    display: flex;
}

.c-nav__link {

    min-width: 3.8rem;
    text-align: center;
    padding: .4rem 0 .8rem;
    margin: 0;
    font-size: 1rem;

    &:first-child {
        text-align: left;
    }

    &:last-child {
        text-align: right;
    }

    @media (min-width: 25em) {

        padding: .4rem 0;
    }
}

.c-nav__link.c--current {

    font-weight: bold;
}
