.c-nav {

    padding: 3*$unit $unit 1.5*$unit;

    @media (min-width: 25em) {

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.c-nav__title {
    display: block;
    font-size: 1.5rem; /* =24px */
    margin-bottom: 1.5*$unit;

    @media (min-width: 25em) {

        margin-bottom: 0;
    }
}

.c-nav__menu {

    display: flex;
}

.c-nav__link {

    margin-left: $unit;

    &:first-child {
        margin-left: 0;
    }
}

.c-nav__link.c--current {

    font-weight: bold;
}
