
//
// Image Carousel
//
.m-scooch__wrapper {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem -10%;

    @media (max-width: 44em) {

        width: 100%;
        margin: 1rem auto;
    }
}

.m-scooch.m--narrow {

    .m-item img {

        width: auto;
        max-height: 20rem;

        @media (min-width: 45em) {

            max-height: 30rem;
        }
    }
}

.m-scooch {

    position: relative;
    padding: 1.111111111rem 0;

    .m-item img {

        width: 80%;
        max-width: 40rem;
        display: block;
        margin: 0 auto;
    }

    .m-scooch-controls a {

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: all .3s ease;

        &[data-m-slide="next"] {

            right: 3%;

            @media (max-width: 44em) {
                right: 0;
            }
        }

        &[data-m-slide="prev"] {

            left: 3%;

            @media (max-width: 44em) {
                left: 0;
            }
        }

        @media (max-width: 44em) {

            img {
                width: 60%;
            }
        }

        &.hide {
            opacity: 0;
        }
    }
}
