.c-section {

    display: block;
    margin-bottom: 2*$unit;

    @media (min-width: 35em) {
        margin-bottom: 3*$unit;
        display: flex;
    }
}

.c-section__header,
.c-section__content {
    flex-basis: 100%;
}

.c-section__header h2 {

    color: $font-color-light;
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 1*$unit;
    letter-spacing: 1px;
}

.c-section__content {

    @include zero-margins();
}

.c-section.c--split {


}
