.c-work-piece {
    border-radius: $border-radius;
    height: 16rem;
    margin-top: $grid-spacing;
    background-color: $grey-2;
    position: relative;

    a {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    &:first-child {
        margin-top: 0;
    }

    @media (min-width: $grid-break) {
        flex: 1 0 calc(50% - 2.5rem);
        margin-left: $grid-spacing;
        margin-top: $grid-spacing;
        max-width: calc(50% - 2.5rem);

        &:first-child {
            margin-top: $grid-spacing;
        }
    }


    &.c--purple {
        background: $purple;
        .c-work-piece__label {
            background: mix($purple, black, 82%);
        }
    }

    &.c--baby-blue {
        background: $baby-blue;
        .c-work-piece__label {
            background: mix($baby-blue, black, 82%);
        }
    }

    &.c--orange {
        background: $orange;
        .c-work-piece__label {
            background: mix($orange, black, 82%);
        }
    }

    &.c--tan {
        background: $tan;
        .c-work-piece__label {
            background: mix($tan, black, 82%);
        }
    }

    &.c--green {
        background: $green;
        .c-work-piece__label {
            background: mix($green, black, 82%);
        }
    }

}

.c-work-piece__label {
    position: absolute;
    bottom: 0; left: 0; right: 0;
    background: mix($grey-2, black, 82%);
    padding: 1.25rem;
    font-size: 1.5rem;
    color: white;
    border-radius: 0 0 $border-radius $border-radius;
}

.c-work-post__image {
    margin-top: -20%;

    &.c--tall {
        margin-top: 10%;
    }
}
