@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scale {
    from {
        transform: scale(.8);
    }
    to {
        transform: scale(1);
    }
}

@keyframes slide {
    from {
        transform: translateY(-10rem);
    }
    to {
        transform: translateY(0);
    }
}

.a-fade {
    animation: fade $transition-time ease;
}

.a-scale {
    animation: fade $transition-time ease;
}

.a-fade-scale {
    animation:
        fade $transition-time ease,
        scale $transition-time ease;
}

.a-fade-slide {
    animation:
        fade $transition-time ease,
        slide $transition-time ease;
}
