// Base
// ===

html {
    font-family: $font-family;;
    color: $font-color;
}

*::selection {
    color: white;
    background: $green;
}

body {
    margin: 0;
    font-size: $font-size;
}

main {
    animation: fade .35s;
}

blockquote {
    position: relative;
    margin: 0;
    margin-left: 0;
    background: lighten($grey, 40%);

    &::before {
        position: absolute;
        display: block;
        content: '';
        left: 0;
        top: 0px;
        bottom: 0px;
        width: 2px;
        background: $font-color-light;
        opacity: .7;

        @media (min-width: 35em) {
            width: 4px;
        }
    }

    p {
        padding: .5*$unit $unit;
        color: $font-color-light;

        @media (min-width: 35em) {
            padding: $unit;
            padding-left: 2.5*$unit;
        }
    }
}

ul {

    @include zero-margins();
    list-style-type: none;
    li {

        margin: .5*$unit;
        line-height: 22px;

        @media(min-width: 35em) {

            font-size: 18px;
            line-height: 24px;
        }

    }
}

a {
    color: $link-color;
    text-decoration: none;

    &:focus
    &:active {
        color: darken($link-color, 15%);
    }
}

p {
    line-height: 28px;

    @media(min-width: 35em) {

        font-size: 18px;
        line-height: 30px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %c-heading;
}

h1 {
    @extend %c-heading-1;
}

h2 {
    @extend %c-heading-2;
}

h3 {
    @extend %c-heading-3;
}

h4,
h5,
h6 {
    @extend %c-heading-4;
}

code {

    background: lighten($grey, 40%);
    border: 1px solid lighten($grey, 30%);
    border-radius: 3px;
    padding: 2px 4px;
}
