// Base
// ===

html {
    font-family: $font-family;;
    color: $font-color;
}

body {
    margin: 0;
    font-size: $font-size;
}

ul {
    @include zero-margins();
    list-style-type: none;
}

a {
    color: $link-color;
    text-decoration: none;

    &:focus
    &:active {
        color: darken($link-color, 15%);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %c-heading;
}

h1 {
    @extend %c-heading-1;
}

h2 {
    @extend %c-heading-2;
}

h3 {
    @extend %c-heading-3;
}

h4,
h5,
h6 {
    @extend %c-heading-4;
}
