
// Color
//
$grey-1: #47525d;
$grey-2: #B0B0B0;
$grey-3: #e5e5ea;
$green: #A3EBAF;
$purple: #C9C0DE;
$orange: #E87722;
$tan: #DAD9C7;
$baby-blue: #B9D9FE;
$blue-1: #1289fe;

$message-grey: $grey-3;
$message-blue: $blue-1;
$font-color: $grey-1;
$font-color-light: $grey-2;
$link-color: $green;

// Spacing
//
$unit: 16px;
$padding-side: 1.25rem;
$message-width: 32rem;
$max-width: 36rem;
$max-width-wide: 42rem;
$grid-spacing: 2rem;
$border-radius: .25rem;

// Breaks
//
$grid-break: 28rem;
$type-break: 35rem;
$social-links-break: 35rem;

// Typography
//
$font-size: $unit;
$font-family: -apple-system, helvetica, verdana;
$font-family-headings: -apple-system-headline, $font-family;

// Animations
//
$transition-time: .35s;
