
// Color
//
$grey-1: #47525d;
$green: #A3EBAF;

$font-color: $grey-1;
$link-color: $green;

// Spacing
//
$unit: 16px;
$padding-side: 1.25rem;
$max-width: 38rem;
$max-width-wide: 45rem;
$grid-spacing: 2rem;

// Breaks
//
$grid-break: 28rem;
$type-break: 35rem;
$social-links-break: 35rem;

// Typography
//
$font-size: $unit;
$font-family: -apple-system, helvetica, verdana;
$font-family-headings: -apple-system-headline, $font-family;
