@media print {
    html {
        font-size: 16px;
    }

    @page {
       margin: 2cm;
    }

    ul {
       page-break-inside: avoid;
    }

    h2, h3 {
       page-break-after: avoid;
    }

    p {
        margin: .5rem 0 0;
        line-height: 1.4rem;
    }

    h1 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 3rem;
    }

    h1 + ul li {
        list-style-type: none;
        font-weight: bold;
        margin-left: 0;
        line-height: 1rem;
        &:last-child {
            margin-bottom: 4rem;
        }
    }

    h2 {
        font-size: 1.5rem;
        margin: 1rem 0 .5rem;
    }

    h3 {
        font-size: 1.1rem;
        margin: .5rem 0 .3rem;
    }

    ul li {
        list-style: disc;
        margin-left: 2rem;
    }

    em {
        display: block;
        margin-top: 3rem;
    }
}
