extends includes/_layout

block content
    .c-container
        h1 Oh, hello there. Looks like you found my personal site.
        p This is my place for tinkering, writing, and sharing my work. 
        p Have a look around! 👀
        
block footer
