if current.source != "about" || "index"
    != partial('../partials/_paginator')

footer    
    hr
        
    p Built with <a href="http://harpjs.com">Harp</a> and served on <a href="http://surge.sh">Surge</a>.
