header
    nav(role='navigation')
        a(href='/') Zachary Halvorson
        ul
        each page, slug in public._data
            unless page.title == "Home"
                li: a(href='/#{ slug }')= page.title

hr
