- var pages = []
- var root = eval("public." + current.path[0] + "._data")
- console.log(current.path[0]);

for page, slug in root
    - page.slug = slug
    - pages.push(root[slug])
    
each page, i in pages
    if page.slug === current.source
        - prev = pages[i - 1]
        - next = pages[i + 1]
        .c-overlay.c--bottom
            .c-paginator.c-container
                if prev
                    a(href= "#{ prev.slug }" class="c-paginator__prev")
                        p Previous
                        p= prev.title
                if next
                    a(href= "#{ next.slug }" class="c-paginator__next")
                        p Next
                        p= next.title
