- projects = []

for project, slug in public.work._data
    - project.slug = slug
    - projects.push(public.work._data[slug])

each project, i in projects
    if project.slug === current.source
        - prev = projects[i - 1]
        - next = projects[i + 1]
        .project-nav
            if prev
                a(href= "#{ prev.slug }" class="prev")
                    p Previous
                    p= prev.title
            if next
                a(href= "#{ next.slug }" class="next")
                    p Next
                    p= next.title
