- var pages = []
- var root = eval("public." + current.path[0] + "._data")

for page, slug in root
    - page.slug = slug
    - pages.push(root[slug])

each page, i in pages
    if page.slug === current.source
        - prev = pages[i - 1]
        - next = pages[i + 1]
        .c-paginator
            if prev
                a(href= "#{ prev.slug }")
                    p Previous
                    p= prev.title
            if next
                a(href= "#{ next.slug }")
                    p Next
                    p= next.title
