script(type="text/javascript").

    var $input = $(".c-intro-text");
    var $face = $(".c-intro-face");

    var typeIntro = function() {
        var text = "Hi, my name is Zach. I'm a product designer in Vancouver.";
        var charCount = text.length;
        var currentLetterCount = 0;
        var speed = 100;
        
        function writeLetter() {
            var currentText = $input.text();
            var currentLetter = text.charAt(currentLetterCount);
            currentLetterCount++;
            $input.text(currentText + currentLetter);
            if(currentLetterCount == charCount)
                clearInterval(timerId);
        }
            
        var timerId = setInterval(writeLetter, speed);
    }
    
    var showFace = function() {
        
    }
    
    
    window.onload = function() {
        typeIntro();
        
    };
