script(type="text/javascript").

    var $input = $(".c-intro-text");
    var $face = $(".c-intro-face");
    var $typingIndicator = $(".typing-indicator");
    
    var typeMessages = function() {
        
        function showHello() {
            $input.removeClass("u-hide").addClass("u-show a-fade-scale");
        }
        function showFace() {
            $face.removeClass("u-hide").addClass("u-show a-fade-scale");
        }
        function hideTypingIndicator() {
            $typingIndicator.addClass("u-hide");
        }
        function showTypingIndicator() {
            $typingIndicator.removeClass("u-hide").addClass("u-show a-fade-scale");
        }
        
        window.setTimeout(showHello, 3500);
        window.setTimeout(hideTypingIndicator, 3500);    
        window.setTimeout(showTypingIndicator, 4000);
        window.setTimeout(showFace, 6000);
        window.setTimeout(hideTypingIndicator, 6000);
        
    }
    
    
    window.onload = function() {
        typeMessages();
    };
