body {
	color: #3E3A5F;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #3E3A5F;
    color: white;
  }
}

a {
	color: #F37B6A;
	font-weight: 500;
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

a {
    position: relative
}

a::after {
    will-change: opacity, transform;
    -webkit-transition: opacity .3s, -webkit-transform .3s ease;
    transition: opacity .3s, -webkit-transform .3s ease;
    transition: opacity .3s, transform .3s ease;
    transition: opacity .3s, transform .3s ease, -webkit-transform .3s ease;
    content: '';
    display: block;
    background: #F37B6A;
    height: 2px;
    position: absolute;
    left: 1px;
    right: 1px;
    bottom: 3px;
}

@media (min-width:25em) {
    a::after {
        bottom: 4px;
        opacity: 0
    }
}

@media (min-width:25em) {
    a:hover::after {
        -webkit-transform: translateY(1px);
        transform: translateY(2px);
        opacity: 1
    }
}
