article
    header.is-right
        div
            h2.projectName #{ title }
            ul
                each role in roles
                    li= role
    div.is-right
        section
            p Sundown is envisioned as a way for people to be reminded of the sunset and provide appropriate music for it's enjoyment. The user is kept apprised of how many minutes away the sunset is based on their location and, at a specified time, play a pre-organized sunset-themed playlist.
        section
            .image-cover: img(src="/img/sundown/loginScreen.png")
            
            div.contHeader
                header: h3 Design
                p The interface is meant to compliment but not distract from the beautiful sunset the users are meant to be enjoying. The darker background more relaxing to read in dark light, no one wants a face full of white light while they’re trying to appreciate a beautiful sunset.

        section
            .image-twoUp
                img(src="/img/sundown/homeScreen.png")
                img(src="/img/sundown/menuOpen.png")

            div.contHeader
                header: h3 Development
                p I plan to continue to develop this app in Xcode and launch it for free in the app store - open to any Rdio users with an option for non-Rio users to try it out as a guest. I’ve currently got a Framer JS prototype that you can check out <a class="is-underlined-bold" href="http://zacharyhalvorson.github.io/Sundown-Framer">here</a>, go ahead and give it some swipes. 
