//- Single column layout with basic header and footer.
//- Current page
- var currentPage = current.source === 'index' && current.path.length >= 2 ? current.path[current.path.length - 2] : current.source

doctype html
html(lang='en')

    head
        block meta
            include _meta
        block title
            title= siteTitle
        block styles
            link(rel="stylesheet" href="/main.css")
            
    body(class= "t-" + currentPage)
        block header
            include ../partials/_header
        main
            block content
        block footer
            include ../partials/_footer
        block scripts
