//- Single column layout with basic header and footer.
doctype html
html(lang='en')
    
    head
        block meta
            include _meta
        block title
            title= siteTitle
        block styles
            link(rel="stylesheet" href="/main.css")
            
    body
        block header
            include ../partials/_header
        main
            block content
        block footer
            include ../partials/_footer
        block scripts
