//- Single column layout with basic header and footer.
//- Current page
- var currentPage = current.source === 'index' && current.path.length >= 2 ? current.path[current.path.length - 2] : current.source

if current.path[0] == 'blog'
    - currentPage = 'blog'; 

doctype html
html(lang='en')

    head
        block meta
            include _meta
        block title
            title= siteTitle
        block styles
            link(rel="stylesheet" href="/assets/styles/stylesheet.css")
            
    body(class= "t-" + currentPage)
        .c-topBar(role="presenation")
        block header
            include ../partials/_header
        main
            block content
        block footer
            include ../partials/_footer
        block scripts
            include _jquery
            include _rainbow
            include _ga
