//
// Footer Styles
//

footer
    border-top()
    font-size: 0.777777778rem
    line-height: 1.111111111rem
    margin-top: 1.111111111rem
    padding-top: 1rem
    padding-bottom: 1.5rem
    @media all and (max-width: headerBreak)
        margin-top: 0
        background: green
