//
// Banner Styles
//

header[role="banner"]
    line-height: 1.6666rem
    padding-top: 2.33333rem
    @media all and (max-width: headerBreak)
        padding-top: 1.111111112rem

    .logo, nav, h1
        transition()
        float: left

    .logo
        width: 25%

        a
            transition()
            display: block
            width: 50px
            height: 50px
            display: flex
            justify-content: center
            align-items: center
            transform: scale(1)

            &:hover
                transform: scale(1.15)

            img
                transition()
                @media all and (max-width: columnBreak)
                    opacity: 1
                    transform: scale(1)
    nav
        width: 25%
        @media all and (max-width: headerBreak)
            width: auto
            float: right
            ul
              group()
              margin: 0
              padding-top: .555555556rem

              li
                float: left
                margin-right: 2rem
                list-style-type: none

              li:last-child
                margin-right: .555555556rem

    h1
        width: 50%
        padding-left: .555555556rem
        @media all and (max-width: headerBreak)
            clear: both
            float: none
            width: auto
            padding-left: 0
            padding-top: 2.166666667rem
            padding-bottom: .555555556rem

            // account for unfortunate wrapping on iphone4
            margin-bottom: 0
            margin-right: -.17rem
            margin-left: -.18rem

    .is-selected
        font-weight: fontRegular
        color: font-color

    group()
