//
// Image Containers
//

[class^="image-"]
    background: grey1
    overflow: hidden
    display: flex
    justify-content: center
    align-items: center
    margin-left: -100%
    +below(headerBreak)
        margin: 1.111111111rem -20px

    img
        transition()

    + [class^="image-"]
        margin-top: 1.111111111rem

// cover image for post, stays cropped at all sizes
.image-cover
    height: 18rem
    align-items: flex-start
    +below(35rem)
        height: 14rem
    +below(headerBreak)
        height: 12rem

    img
        width: 40%
        transform: translateY(3rem)
        &:hover
            transform: translateY(2.3rem)

    &.wide
        img
            width: 80%


// 2-images in a container
.image-twoUp
    align-items: center
    padding: 2.222222222rem 0

    img
        width: 45%
        max-width: 10rem
        height: auto
        &:first-child
            margin-right: 8%
        &:hover
            transform: scale(1.1)

    // right side bigger than left and shifts layout to emphasize right on mobile
    &.offset
        align-items: flex-end
        height: 16rem
        padding: 0
        img
            transform: translateY(1rem)
            &:hover
                transform translateY(-.5rem)
            &:first-child
                width: 30%
                max-width: 9rem
                margin-right: 3%
                +below(headerBreak)
                    transform: translateY(-5rem)
                    margin-right: -4%
            &:last-child
                width: 60%
                max-width: 18rem
                +below(headerBreak)
                    transform: translateY(-1rem)
                    margin-left: -4%

    // Crops bottom of image on desktop and reveals whole image on desktop
    &.crop
        align-items: flex-end
        height: 16rem
        padding: 0
        +below(headerBreak)
            align-items: center

        img
            width: 45%
            max-width: 14rem
            transform: translateY(30%)
            +below(headerBreak)
                transform: none
            &:first-child
                margin-right: 3%
            &:hover
                transform: translateY(25%)
                +below(headerBreak)
                    transform: none

//
// Image Carousel
//
.m-scooch
    position: relative
    padding: 1.111111111rem 0
    img
        width: 80%
        max-width: 50rem
        display: block;
        margin: 0 auto;
    .m-scooch-controls a
        position: absolute
        top: 50%;
        transform: translateY(-50%)
        transition()
        &[data-m-slide="next"]
            right: 3%
            +below(headerBreak)
                right: 2%
        &[data-m-slide="prev"]
            left: 3%
            +below(headerBreak)
                left: 2%
        +below(headerBreak)
            img
                width: 50%

        &.hide
            opacity: 0
